@import "tailwindcss";

@layer base {
    body {
        font-family: "Poppins", sans-serif;
    }
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "Fresh graduate";
    color: #66fcf1;
    animation: words 20s infinite;
}

.typing-text span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    right: -8;
    animation: cursor 0.6 infinite;
}

/* @keyframes cursor {
    to {
        border-left: 3px solid #66fcf1;
    }
} */

@keyframes words {

    0%,
    20% {
        content: "Web Devloper";
    }

    21%,
    40% {
        content: "Data Analyst";
    }

    41%,
    60% {
        content: "Software Devloper";
    }

    61%,
    80% {
        content: "Administrator";
    }

    81%,
    100% {
        content: "Game Developer";
    }


}